@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Lato", sans-serif !important;
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  NAVIGATION */
.navbar-brand {
    padding: 0 30px;

}



.navbar-nav {
    width: 100%;

    padding: 0 30px;
    justify-content: flex-end;
}

.navbar-nav .nav-item:focus {
    color: #1a1a1a !important;

}


.fixed-top, .active a {
    color: red;
}

.hamburger {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
  .hamburger:focus > .hamburger__container {
    box-shadow: 0 0 2px 2px #51a7e8;
  }
  .hamburger__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px;
  }
  .hamburger__bars {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #aaa;
    transition: transform 220ms ease-in-out;
  }
  .hamburger__bars:before, .hamburger__bars:after {
    display: block;
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #aaa;
    content: "";
  }
  .hamburger__bars:before {
    top: -12px;
    transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
  }
  .hamburger__bars:after {
    bottom: -12px;
    transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
  }
  .hamburger--active .hamburger__bars {
    transform: rotate(225deg);
    transition: transform 220ms 120ms ease-in-out;
  }
  .hamburger--active .hamburger__bars:before {
    top: 0;
    transition: top 100ms ease-out;
  }
  .hamburger--active .hamburger__bars:after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
  }
  .hamburger:focus, .hamburger__container:focus {
    outline: none;
  }





/* Section 1 */



.first-section-container {
    display: flex;

    flex-direction: column;

}

.first-section-wrapper {
    height: 45vh;
    background-color: #6DB3F2;
    background-image: url(IMG/background1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    z-index: 2;
    background-color: blue;
    opacity: 0.55;
}

.first-section-heading {
    color: white;
    z-index: 3;
    text-align: center;
}

.first-section-subheading {
    color: white;
    z-index: 3;
    text-align: center;
}

.first-section-dashboard {
    position: absolute;
    z-index: 10;
    left: 30vw;
    top: 30%;
}

.first-section-dashboard img {
    border-style: none;
    max-width: 40vw;
    height: auto;
}

/* Section 2 */

.second-section-container {
    width: 100vw;
    
    position: relative;
    text-align: center;
  
}

.second-section-wrapper {
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
}

.second-section-heading{
   width: 45%;
   margin-top: 30%;
  
}


.second-section-subtitle{
margin-top: 5%;
color: grey;
opacity: .5;
}

.second-section-boxes{
    margin-top: 5%;
    width: 100%;
    display: flex;
    padding-left: 250px;
    padding-right: 250px;
    justify-content: space-evenly;

}
.box {

  width: 30%;

    
}
.box img {
    padding-bottom: 20px;
}
.box-watch img {
    padding-bottom: 24px;
}
.box-watch {
    width: 30%;
  }
.box-p {
    display: block;
    width: 75%;
    margin-top: 5%;
    margin: 0 auto;  
    color: grey;
    opacity: .5;
}
.see-more-revolution {
margin-top: 5%;
color: blue;
}

/* Section 3 */

.third-section-container{
    height: 50vh;
   
    background-image: url(IMG/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: visible;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.layer2{
    height: 50vh;
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    background-color: blue;
    opacity: 0.55;
}
.third-section-content-container{
   width: 40%;
   z-index: 2;
   display: flex;
   flex-direction: column;
   
}
.third-section-content{
    margin-top: 5vh;
    color: white;
    opacity: 0.9;
    font-style: italic;
    z-index: 3;
    font-size: 18px;
    text-align: center;
}
.third-section-john{
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    opacity: 0.9;
    z-index: 3;
    font-size: 18px;
    text-align: center;
}
.third-section-play{
    padding-top: 15px;
    color: white;
    z-index: 3;
    font-size: 16px;
    text-align: center;
}
.third-section-content-container img{
margin: 0 auto;
width: 75px;
height: 75px;
}



/* 4 Section */
.fourth-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.fourth-section-profilePicture-container{
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fourth-section-picture{
    display: flex;
    z-index: 1;
    flex-direction: column;
margin-left: 3vw;
margin-right: 3vw;
}


.fourth-section-picture img:last-child{
    transform: translateY(-100%);
}

.fourth-picture {
    transform: translateY(-50%);
   background-color: rgba(255, 255, 255);
    border-radius: 50%;
    position: absolute;
   
    filter: opacity(50%)
}

.fourth-layer{
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255);
     border-radius: 50%;
     width: 101px;
     height:101px;
}

.fourth-picture-normal{
    transform: translateY(-50%);
   background-color: rgba(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    
}
.fourth-logo {
    width: 101px;
}

.fourth-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourth-section-content-title{
    width: 30%;
    text-align: center;

}
.fourth-section-content-p{
    width: 35%;
    color: grey;
    opacity: .5;
    text-align: center;
    margin-top: 2%;
}

.fourth-section-content-p{
    text-align: center;
}
.fourth-section-content span {
    color: blue;
}

/* Section 5 */
.fifth-section-container{
    height: 50vh;
    background-color: blue;
}
.fifth-section-workharder{
background-image: url(IMG/Workharder.png);
width: 100%;
height: 223px;
position: absolute;
margin-top: 2%;
left: 100px;
background-repeat: no-repeat;

}
.fifth-section-wrapper {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fifth-section-content{
width: 30%;
margin-left: 20%;
z-index: 10;

}
.fifth-section-content h1 {
   font-size: 30px;
   z-index: 2;
   padding-bottom: 25px;
   color: white;
    }
.fifth-section-content button {
    padding: 10px 50px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 20px 0;
    position: relative;
       
}
.fifth-section-content button::before{
    content: "";
        position: absolute;
        bottom: -5px;
        left: -5px;
        width: 20px;
        height: 20px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
}
.fifth-section-content button::after{
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-right: 3px solid black;
    border-top: 3px solid black;
}
.fifth-section-tablet {
    transform:translateY(10%);
    z-index: 2;
}

.sixth-section-container {
height: 30vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.logos{
display: flex;
justify-content: center;
align-items: center;

}
.sixth-section-container img {
opacity: 0.6;
max-width:171px;
max-height: 66px;
margin-left: 5%;
margin-right: 5%;
}

@media screen and (width: 280px) {
    

     .third-section-content{
        font-size: 12px;
    }
    .third-section-john{
        font-size: 12px;
    }
        .third-section-play{
            font-size: 12px;
        }
        .fourth-section-picture{
            width: 35px;
      }
      
}
@media screen and (max-width: 400px){
    .sixth-section-container img {
        max-width:120px;
        }
}
@media screen and (max-width: 1100px) {
    .fifth-section-workharder{
        left: 0px;
        }
    .second-section-heading{
        width: 65%;
     }
    .first-section-dashboard {
        left: 20%;
    }

    .first-section-dashboard img {
        max-width: 60vw;
    }
    .second-section-boxes{
    display: block;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    }  
    .box, .box-watch {
        margin-top: 10%;
        width: 100%;
      }

       /* section 3 */

      .third-section-content-container{
        width: 70%;
     }


     .third-section-container{
        height: 50vh;
    }
    .layer2{
        height: 50vh;
    }
    .third-section-content-container{
        width: 75%;
     }
     .third-section-content{
        font-size: 20px;
    }
    .third-section-john{
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 20px;
    }
    .third-section-content-container img{
        width: 75px;
        height: 75px;
        }
        .third-section-play{
            padding-top: 10px;
        }

        /* section 5 */

        
        .fifth-section-wrapper {
            height: 50vh;
            justify-content: center;
        }
        .fifth-section-content{
        width: 40%;
        margin-left: 0;
        justify-content: center;
        }
        .fifth-section-content h1 {
           font-size: 35px;
            }
        .fifth-section-tablet {
            display: none;
        }
        .sixth-section-container img:nth-child(1), .sixth-section-container img:nth-child(3) {
            display: none;
        }
.dots{
    margin-top: 5%;
}
        .dot{
            margin-top: 5%;
            height: 10px;
            width: 10px;
            background-color: #bbb;
            border-radius: 50%;
            background-color: rgb(93, 93, 209);
            opacity: 0.2;
            display: inline-block;
            }
            .dot:nth-child(2){
                opacity: 0.6;
                }
}
@media (max-width: 1400px) and (orientation:landscape){
    .fifth-section-workharder{
        left: 0px;
        }
}
@media (max-width: 850px) and (orientation: landscape){
    /* section 5 */
    .fifth-section-container{
        height: 300px;
    }

    .fifth-section-wrapper {
        height: 50vh;
        justify-content: center;
    }
    .fifth-section-content{
    width: 80%;
    }
    .fifth-section-content h1 {
        margin-top: 20%;
       font-size: 25px;
        }
}
@media (max-width: 1024px) and (orientation: landscape) {
    
    .first-section-wrapper {
        height: 70vh;
    }

    .layer {
        height: 70%;
    }

    .first-section-dashboard {
        top: 45%;
    }
    .third-section-content-container{
        width: 70%;
     }

/* 3 section */

     .third-section-container{
        height: 60vh;
    }
    .layer2{
        height: 60vh;
        
    }
    .third-section-content-container{
        width: 75%;
     }
     .third-section-content{
        font-size: 20px;
    }
    .third-section-john{
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 20px;
    }
    .third-section-content-container img{
        width: 75px;
        height: 75px;
        }
        .third-section-play{
            padding-top: 10px;
        }
      
  
 
}

@media screen and (max-width: 800px) {
   
    .second-section-boxes{
        padding-left: 50px;
        padding-right: 50px;
        }  
    .first-section-dashboard img {
        max-width: 90vw;
    }

    .first-section-dashboard {
        top: 35%;
        left: 5%;
    }

    .first-section-heading {
        font-size: 25px;
    }

    .first-section-subheading {
        font-size: 12px;
    }

    .navbar-brand {
        padding: 0;
    }

    .navbar-nav .nav-item,
    .navbar-nav .dropdown-menu {
        text-align: center;
    }

    .hamburger {
        display: block;
    }
    .second-section-heading{
        margin-top: 50%;
        width: 90%;
        
     }
     .box-p {
       margin-top: 10%;
    }
    .third-section-container{
        height: 70vh;
    }
    .layer2{
        height: 70vh;
    }
    .third-section-content-container{
        width: 85%;
     }
     .third-section-content{
        font-size: 14px;
    }
    .third-section-john{
        padding: 10%;
        font-size: 14px;
    }
    .third-section-content-container img{
        width: 50px;
        height: 50px;
        }

        /* section 4 */
        .fourth-section-picture{
         margin-left: 3vw;
         margin-right: 3vw;
   
           
        }
        .fourth-picture {
           width: 50px;
        }
        .fourth-layer{
             width: 50px;
             height:50px;
        }
        
        .fourth-picture-normal{
            width: 50px;
        }
        .fourth-logo {
            width: 50px;
        }
        .fourth-section-content-title{
            width: 80%;
            text-align: center;
        
        }
        .fourth-section-content-p{
            width: 80%;
            opacity: 0.6;
            text-align: center;
            margin-top: 2%;
        }
        
        .fourth-section-content-p{
            text-align: center;
        }

        /* section 5 */
        .fifth-section-wrapper {
            height: 50vh;
            justify-content: center;
        }
        .fifth-section-content{
        width: 90%;
        }
        .fifth-section-content h1 {
           font-size: 30px;
            }
}
@media (max-width: 850px) and (orientation:landscape) {
    .third-section-container{
        height: 100vh;
    }
    .layer2{
        height: 100vh;

    }

    .third-section-content{
        width: 100%;
    }
    .third-section-john{
        padding-top: 5px;
        padding-bottom: 5px;
 
    }

}
